{% extends 'base.bbs.html' %}

{% load bootstrap4 %}

{% block container %}

    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!-- page start-->
        <div class="row mt">
          <div class="col-sm-3">
            <section class="panel">
              <div class="panel-body">
                <a href="{% url 'board:bbs_create' %}" class="btn btn-compose">
                  <i class="fa fa-pencil"></i>  글쓰기
                  </a>
                <ul class="nav nav-pills nav-stacked mail-nav">
                  <li class="active"><a href="{% url 'board:bbs_main' %}"> <i class="fa fa-inbox"></i> 게시판  <span class="label label-theme pull-right inbox-notification"></span></a></li>
{#                  <li class="active"><a href="{% url 'board:bbs_search' posts.maching_code %}"> <i class="fa fa-inbox"></i> 종목별게시판  <span class="label label-theme pull-right inbox-notification"></span></a></li>#}

                  <li><a href="#"> <i class="fa fa-file-text-o"></i> 내가 쓴 글  <span class="label label-info pull-right inbox-notification"></span></a></a>
                  </li>
                </ul>
              </div>
            </section>
            <section class="panel">
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked labels-info ">
                  <li>
                    <h4>접속 중 회원</h4>
                  </li>
                  {% for post in chat %}
                  <li>
                    <a href="#">
                        <img src="/static/img/friends/fr-10.jpg" class="img-circle" width="20">{{post.username}}

                      </a>
                  </li>
                    {% endfor %}
                </ul>

                <div class="inbox-body text-center inbox-action">
                  <div class="btn-group">
                    <a class="btn mini btn-default" href="javascript:;">
                      <i class="fa fa-power-off"></i>
                      </a>
                  </div>
                  <div class="btn-group">
                    <a class="btn mini btn-default" href="javascript:;">
                      <i class="fa fa-cog"></i>
                      </a>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="col-sm-9">
            <section class="panel">
              <header class="panel-heading wht-bg">
                <h2 class="gen-case">

                    {{ ChoicCodeName }} 게시글 </h2>

                   <!--시작-->

              <div class="centered">




                    <form action="{% url 'board:bbs_main' %}" method="post">
                        {% csrf_token %}

                        <br>
                        <br>

                    <td></td>
                        <select onchange="categoryChange(this,{{ companydict }})" select id = "selectBox" select name="selectBox" class ='selectpicker' style="height: 30px" style="width:80px" >


                            <option value="" selected="selected">그룹을 선택하세요</option>
                            <option value="gs">GS그룹</option>
                            <option value="lg">LG그룹</option>
                            <option value="sk">SK그룹</option>
                            <option value="life">교보생명보험그룹</option>
                            <option value="asiana">금호아시아나그룹</option>
                            <option value="nog">농협그룹</option>
                            <option value="daerim">대림그룹</option>
                            <option value="dacons">대우건설그룹</option>
                            <option value="daocean">대우조선해양그룹</option>
                            <option value="du">두산그룹</option>
                            <option value="lott">롯데그룹</option>
                            <option value="esse">미래에셋그룹</option>
                            <option value="sam">삼성그룹</option>
                            <option value="neww">신세계그룹</option>
                            <option value="cj">씨제이그룹</option>
                            <option value="soil">에쓰-오일그룹</option>
                            <option value="ls">엘에스그룹</option>
                            <option value="yong">영풍그룹</option>
                            <option value="occ">오씨아이그룹</option>
                            <option value="kcc">케이씨씨그룹</option>
                            <option value="kt">케이티그룹</option>
                            <option value="ktng">케이티앤지그룹</option>
                            <option value="kolon">코오롱그룹</option>
                            <option value="posco">포스코그룹</option>
                            <option value="harim">하림그룹</option>
                            <option value="invest">한국투자금융그룹</option>
                            <option value="hanjin">한진그룹</option>
                            <option value="hanha">한화그룹</option>
                            <option value="hydep">현대백화점그룹</option>
                            <option value="hycar">현대자동차그룹</option>
                            <option value="hyjung">현대중공업그룹</option>
                            <option value="hyosung">효성그룹</option>
                        </select>

                         <select id = "machingstock" select name="machingstock" class ='selectpicker' style="height: 30px" style="width:80px" >
                             <option value="" selected="selected">종목을 선택하세요</option>


                         </select>

                        <input type="submit" class="btn btn-theme" value="Enter">
                    </form>
                </div>
                 <!--끝    -->
              </header>
{#              <div class="panel-body minimal">#}
{#                <div class="mail-option">#}
{##}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="btn-group">#}
{##}
{#                      <br>#}
{#                      </a>#}
{#                  </div>#}
{#                  <div class="btn-group hidden-phone">#}
{##}
{#                    <ul class="dropdown-menu">#}
{#                      <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>#}
{#                      <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>#}
{#                      <li class="divider"></li>#}
{#                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>#}
{#                    </ul>#}
{#                  </div>#}
{#                  <div class="btn-group">#}
{#                    <a data-toggle="dropdown" href="#" class="btn mini blue">#}
{##}
{##}
{#                      </a>#}
{#                    <ul class="dropdown-menu">#}
{#                      <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>#}
{#                      <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>#}
{#                      <li class="divider"></li>#}
{#                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>#}
{#                    </ul>#}
{#                  </div>#}




                <!----페이지네이션 시작 ------>
{#                  <ul class="unstyled inbox-pagination">#}
{#                    <li><span>1-50 of 99</span></li>#}
{#                    <li>#}
{#                      <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>#}
{#                    </li>#}
{#                    <li>#}
{#                      <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>#}
{#                    </li>#}
{#                  </ul>#}
{#                </div>#}
                <!----페이지네이션 끝 ------>


         <div class="panel-body">



            <div class="table-inbox-wrap ">

                <table class="table table-inbox table-hover">
                    <tbody>
                      <tr class="unread">

                          <table class="table table-hover">

                            <thead class="thead-dark"> <!-- 제목 -->
                                <tr>
                                    <th scope="col">번호</th>
                                    <th scope="col">분류</th>
                                    <th scope="col">제목 </th>
                                    <th scope="col">작성자 </th>
                                    <th scope="col">작성일 </th>

                                </tr>
                            </thead>
                                {% for post in bbspage %}


                                <tr>
                                    <td>{{ post.id }}</td>
                                    <td>{{ post.stock_name }}</td>
                                    <td><a href="{% url 'board:bbs_detail' post.id %}">{{ post.title }}</a></td>
                                    <td>{{ post.author }}</td>
                                    <td>{{ post.pub_date|date:'Y-m-d H:m:s' }}</td>
                                </tr>

                                {% endfor %}

                        </table>

                    </tbody>
                  </table>

                </div>

        <!--서치 시작 -->
         <div class="centered">
             <form action="" method="get">
                 <input type="text" name="search_key">
                 <input type="submit" value="검색">
             </form>
         </div>
        <!--서치 끝 -->

         <br>


         <!----페이지네이션 시작 (수정하고 지울 부분) ------>
         <div class="col centered">
             {# first previous #}
             {% if bbspage.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ bbspage.previous_page_number }}">Previous</a>
            {% endif %}

            {# of #}
            <span>{{ bbspage.number }}</span>
            <span>of</span>
            <span>{{ bbspage.paginator.num_pages }}</span>

            {# Next last #}
            {% if bbspage.has_next %}
            <a href="?page={{ bbspage.next_page_number }}">Next</a>
            <a href="?page={{ bbspage.paginator.num_pages }}">Last</a>
            {% endif %}
         </div>
        <!----페이지네이션 끝 ------>



         </div>




            </section>

          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->

    <script src="/static/js/bbs.js"></script>

{% endblock %}


