{% extends 'base.bbs.html' %}

{% load bootstrap4 %}

{% block container %}

    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">



        <!-- page start-->


        <div class="row mt">
          <div class="col-sm-3">
            <section class="panel">


              <div class="panel-body">
                <a href="{% url 'board:bbs_create' %}" class="btn btn-compose">
                  <i class="fa fa-pencil"></i> 글쓰기
                  </a>

                <ul class="nav nav-pills nav-stacked mail-nav">

                  <li class="active"><a href="{% url 'board:bbs_main' %}"> <i class="fa fa-inbox"></i> 게시판  <span class="label label-theme pull-right inbox-notification"></span></a></li>

                </ul>
              </div>

            </section>
            <section class="panel">
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked labels-info ">
                  <li>
                    <h4>접속 중 회원</h4>
                  </li>
                  <li>
                    <a href="#">
                        <img src="/static/img/friends/fr-10.jpg" class="img-circle" width="20">김선생

                      </a>
                  </li>
                  <li>
                    <a href="#">
                        <img src="/static/img/friends/fr-05.jpg" class="img-circle" width="20">동학개미

                      </a>
                  </li>
                  <li>
                    <a href="#">
                        <img src="/static/img/friends/fr-01.jpg" class="img-circle" width="20">떡상가즈아

                      </a>
                  </li>
                  <li>
                    <a href="#">
                        <img src="/static/img/friends/fr-03.jpg" class="img-circle" width="20">내일의버핏

                      </a>
                  </li>
                  <li>
                    <a href="#">
                        <img src="/static/img/friends/fr-02.jpg" class="img-circle" width="20">존버가답

                      </a>
                  </li>
                </ul>

                <div class="inbox-body text-center inbox-action">
                  <div class="btn-group">
                    <a class="btn mini btn-default" href="javascript:;">
                      <i class="fa fa-power-off"></i>
                      </a>
                  </div>
                  <div class="btn-group">
                    <a class="btn mini btn-default" href="javascript:;">
                      <i class="fa fa-cog"></i>
                      </a>
                  </div>



                </div>
              </div>
            </section>
          </div>









          <div class="col-sm-9">
            <section class="panel">
              <header class="panel-heading wht-bg">
                <h4 class="gen-case">
                    {{ ChoicCodeName }} 게시판
                  </h4>
              </header>




              <div class="panel-body ">
                <div class="mail-header row">
                  <div class="col-md-8">
                    <h4 class="pull-left"> 제목 : {{ post.title }} </h4>
                  </div>
                </div>


                <div class="mail-sender">
                  <div class="row">
                    <div class="col-md-8">
                        <strong>글쓴이 : {{ post.author }}</strong>
                    </div>
                    <div class="col-md-4">
                      <p class="date"> {{ post.pub_date }} </p>
                    </div>
                  </div>
                </div>


                <div class="view-mail" >
                    {{ post.contents }}


                    <a href="{% url 'board:bbs_update' post.id %}">수정</a>
                    <a href="{% url 'board:bbs_delete' post.id %}">삭제</a>


                </div>


                <div class="attachment-mail">
                    <form action="{% url 'board:bbs_send_comment' post.id %}" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form comment_form %}

                    <input type="submit" class="btn btn-theme" value="댓글작성">
                    </form>
                  <ul>
                    <table class="table table-hover">
                      <thead class="thead-dark">
                                <tr>
                                    <th scope="col">작성자</th>
                                    <th scope="col">내용</th>
                                    <th scope="col">게시일</th>
                                </tr>
                      </thead>
                      <tbody>
                              {% for comment_list in commentpage %}
{#                              {% for comment in post.comments.all %}#}
                                <tr>
                                    <td>{{ comment_list.author }}</td>
                                    <td>{{ comment_list.text }}</td>
                                    <td>{{ comment_list.created_date }}</td>
                                </tr>
                              {% endfor %}
                      </tbody>
                    </table>

                           <!----페이지네이션 시작 (수정하고 지울 부분) ------>
         <div class="col centered">
             {# first previous #}
             {% if commentpage.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ commentpage.previous_page_number }}">Previous</a>
            {% endif %}

            {# of #}
            <span>{{ commentpage.number }}</span>
            <span>of</span>
            <span>{{ commentpage.paginator.num_pages }}</span>

            {# Next last #}
            {% if commentpage.has_next %}
            <a href="?page={{ commentpage.next_page_number }}">Next</a>
            <a href="?page={{ commentpage.paginator.num_pages }}">Last</a>
            {% endif %}
         </div>
        <!----페이지네이션 끝 ------>



{#                  <!-- comment pagination start -->#}
{#                  <ul class="pagination justify-content-center">#}
{#                      {% if commentpage.has_previous %}#}
{#                      <li class="page-item">#}
{#                          <a class="page-link" href="?page{{ commentpage.previous_page_number }}">이전</a>#}
{#                      </li>#}
{#                      {% else %}#}
{#                      <li class="page-item disabled">#}
{#                          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>#}
{#                      </li>#}
{#                      {% endif %}#}
{##}
{##}
{#                  <!-- pagelist -->#}
{#                  {% for page_number in commentpage.paginator.page_range %}#}
{#                    {% if page_number == commentpage.number %}#}
{#                    <li class="page-item active" aria-current="page">#}
{#                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>#}
{#                    </li>#}
{#                  {% else %}#}
{#                  <li class="page-item">#}
{#                      <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>#}
{#                  </li>#}
{#                  {% endif %}#}
{#                  {% endfor %}#}
{##}
{#                  <!--nextpage-->#}
{#                  {% if commentpage.has_next %}#}
{#                  <li class = "page-item">#}
{#                      <a class="page-link" href="?page={{ commentpage.next_page_number }}">다음</a>#}
{#                  </li>#}
{#                  {% else %}#}
{#                  <li class="page-item disabled">#}
{#                      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>#}
{#                  </li>#}
{#                  {% endif %}#}
{#                  </ul>#}
{#                  <!--pagination end-->#}




                   </ul>
                </div>


                <div class="compose-btn pull-left">
                  <a href="mail_compose.html" class="btn btn-sm btn-theme"><i class="fa fa-reply"></i> 게시판으로 </a>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->


{% endblock %}