{% extends 'bbs.html' %} <!-- base.html 끌어오기 위해 -->
{% load bootstrap4 %} <!-- 부트스트랩 쓰기위해 load -->

{% block container %}
    <div class="container">
        <h1>새글 작성</h1>

        <form method="post"> <!-- submit 누르면 발동! 
				현재 페이지(수정하고 있는 ; /posts/create/)를 기준으로 
				정보를 POST 방식으로 요청하기 때문에 
				굳이 action { % url 'posts:create %} 안씀-->
            {% csrf_token %}
            <!-- {{ post_form }} 일반적인 html 태그 쓰면 부트스트랩 적용이 안됨 -->
            {% bootstrap_form post_form %} <!-- 부트스트랩 적용! -->
            <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </div>
{% endblock %}